.form-group{
    width: 30%;
    color:white;
}
.form{
    padding-bottom: 40opx;
}
.container{
    background: linear-gradient(to right, #603813, #b29f94);
}
.header{
    text-align: center;
}
h1{
    text-align:center;
    color:whitesmoke;
}
.search{
    width: 800px;
}
.body{
    background-color: #004d40 ;
}
